@use "/src/scss/patterns" as *;

.gamesPage {

    .searchString,
    .pagination,
    .gameList {
        @extend %centered-flex;
        width: 100%;
        padding: 1%;
    }

    .pagination {
        button {
            flex-grow: 1;
        }
    }

    .gameList {
        flex-wrap: wrap;
    }
}