@use "/src/scss/patterns" as *;

.button {
    @extend %centered-flex, %rounded-all-edges;
    padding: 10px;
    border: 0;
    background-color: var(--thirdly-color);
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: var(--thirdly-color);
        background-color: var(--quaternary-color);
        box-shadow: 0px 0px 10px var(--thirdly-color);
    }

    &:focus{
        outline: 0.125em solid var(--text-color);
    }

    &:disabled {
        cursor: not-allowed;
    }
}