@use "/src/scss/patterns" as *;

.profilePage {
    .profileHeader {
        @extend %centered-flex;
        justify-content: space-between;
        width: 100%;

        .avatar {
            border: 0.125em solid var(--thirdly-color);
            aspect-ratio: 1/1;
            width: 18%;
        }

        .profileInfo {
            padding: 1% 2%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 36%;
            min-height: 200px;
            border-left: 0.125em solid var(--text-color);

            h1 {
                .flag {
                    cursor: pointer;
                }
            }

            a {
                margin-top: 15px;

                button {
                    width: 100%;
                }
            }
        }
    }

    hr {
        margin: 20px;
        width: 100%;
        border: 0.125em solid var(--text-color);
    }

    h2 {
        a {
            color: var(--text-color);
            text-decoration: none;

            &:hover {
                color: var(--thirdly-color);
            }

            &:focus {
                text-decoration: underline;
            }

            &:active {
                color: var(--primary-color);
            }
        }
    }

    .friendsSection {
        @extend %centered-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
}