@use "/src/scss/patterns" as *;

.main {
    @extend %centered-flex;
    min-height: 90vh;
    background-color: var(--quaternary-color);

    &>:first-child {
        @extend %centered-flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 2%;
        width: 80%;
        min-height: 90vh;
        background-color: var(--primary-color);
    }
}