@use "/src/scss/patterns" as *;

.friendsPage {

    .searchString,
    .pagination,
    .friendList {
        @extend %centered-flex;
        width: 100%;
        padding: 1%;
    }

    .pagination {
        button {
            flex-grow: 1;
        }
    }

    .friendList {
        @extend %centered-flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 1%;
    }
}