@use "/src/scss/patterns" as *;

.header {
    padding: 1% 2%;

    a {
        color: var(--text-color);
        text-decoration: none;

        &:hover {
            color: var(--thirdly-color);
        }

        &:focus {
            text-decoration: underline;
        }

        &:active {
            color: var(--primary-color);
        }
    }

    nav {
        @extend %centered-flex;
        justify-content: space-around;
        width: 100%;
        height: 100%;

        .logoContainer {
            @extend %centered-flex;
            font-size: 1.75em;
            font-weight: 500;
        }

        ul {
            @extend %centered-flex;
            height: 100%;
            gap: 25px;
            list-style-type: none;

            li {
                @extend %centered-flex;
                min-height: 50%;
                min-width: 100px;

                .profileLink {
                    @extend %centered-flex;
                    gap: 5px;

                    img {
                        width: 20px;
                        aspect-ratio: 1/1;
                        border: 1px solid var(--thirdly-color);
                    }
                }

                a {
                    @extend %rounded-all-edges;
                    padding: 5px 10px;
                    background-color: var(--quaternary-color);

                    &:hover {
                        text-decoration: underline;
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}