body {
    background-color: var(--primary-color);

    * {
        color: var(--text-color);
    }

    a {
        cursor: pointer;
    }

    header,
    footer {
        padding: 1%;
    }

    header,
    footer {
        height: 10vh;
        background-color: var(--secondary-color);
    }
}