$round-edges: 4px;

%centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

%centered-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%rounded-no-edges {
    border-radius: 0;
}

%rounded-all-edges {
    border-radius: $round-edges;
}

%rounded-top-edges {
    border-radius: $round-edges $round-edges 0 0;
}

%rounded-bottom-edges {
    border-radius: 0 0 $round-edges $round-edges;
}

%rounded-right-edges {
    border-radius: 0 $round-edges $round-edges 0;
}

%rounded-left-edges {
    border-radius: $round-edges 0 0 $round-edges;
}