@use "/src/scss/patterns" as *;

.inventoryPage {

    .gameSelect,
    .pagination,
    .itemList {
        @extend %centered-flex;
        width: 100%;
        padding: 1%;
    }

    .pagination {
        button {
            flex-grow: 1;
        }
    }

    .itemList {
        flex-wrap: wrap;
    }
}